body{
    display: flex;
    flex-direction: column;
}
.hero{
    background-color: #1f2937;
    font-family: Roboto;
    color: #f9FAF8;  

}
.awesome{
    font-size: 48px;
    font-weight:800;
}
header {
font-size: 24px;
color: #f9FAF8;
display: flex;
}

.header{
    margin: 15px;
display: flex;
justify-content: space-around;
}
.link{
    padding: 5px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.signup_container{
    display: flex;
    justify-content: space-between;
}
.forest{
   border-radius: 15px;
   height: 300px;
   width: 600px:
}
.random_container{
    display: flex;
}
.random_photo{
    display: flex;
    justify-content: space-between;
}


