body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* for hero section */
.hero{
    background-color: #1f2937;
    font-family: Roboto;
    color: #f9FAF8;  
    width: auto;
}
.awesome{
    margin: 0%;
    font-size: 48px;
    font-weight:800;
    display: flex;
    align-items: center;
}
.subtext{
    margin: 0%;
    display: flex;
    align-items: center;
}
header {
font-size: 24px;
color: #f9FAF8;
display: flex;
}

.header{
padding: 25px;
display: flex;
justify-content: space-around;
align-items: center;
gap: 200px;
}
.link{
    padding: 5px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.signup{
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    gap: 10px;
   
}

.signup_container{
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    padding: 5px 25px 5px 25px;
    background-color: #3882F6;
    font-size: 24px;
    border-radius: 8px;
    color: #E5E7EB;
}
.placeholder{
   border-radius: 15px;
   height: 300px;
}
/*For random section*/
.random_container{
    margin-top: 100pxss;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.random_info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.random_photo{
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
}
.info{
    width: 275px;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px
}
.photo{
    height: 275px;
    width: 275px;
    border-radius: 8px;
}
/*for qoute section*/
.quote{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.author{
    font-weight: bold;
    align-self: flex-end;
    margin-right: 150px;
}
/*for call to action section*/
.calltoaction{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.action_container{
    height: 200px;
    width: 900px;
    background-color: #3882F6;
    color: #f9FAF8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
/*for footer section*/
