body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 48px;
    background-color: #6A7581;
    color: #C3C7C6;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.logo{
    font-size: 24px;
    font-weight: 900;
}
ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}
a{
    text-decoration: none;
    color: #C3C7C6;
}
.header-links{
 font-size: 18px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.container-one{
    background-color: #6A7581;
    color: #C3C7C6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 15px 0;
    padding-bottom: 15px;
}
.left-content{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 500px;
    overflow: hidden;
}
h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}
p{
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
button{
    width: 100px;
}
.right-content{
    height: 250px;
    width: 500px;
}
.right-photo{
    height: 100%;
    width: 100%;
    /*allows photo to fit container while maintaining aspect ratio*/
    object-fit: cover;
    overflow: hidden;
}
.container-two{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 900;
}
.sub-container{
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
    font-size: 18px;
}
.info-container{
    max-width: 200px;
}
.info-photo{
    border-radius: 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}